.app-forgot-password {
  .app-forgot-content {
    min-height: 300px;
    padding: 30px;
    .app-forgot-extra {
      margin-top: 15px;
      a {
        font-size: .8rem;
        text-decoration: none;
      }
    }
  }
}
