<!DOCTYPE html>
<html>

<head>
    <title>Confirm Account Email</title>
</head>

<body>
    <div>
        <h1>Confirm your account</h1>
        <h4>Welcome to Boily <b>{{name}}</b> !</h4>
        <p>
            Your account has been created on our platform; here is your login information
            <br/><br/>
            Email address : <b>{{email}}</b><br/>
            <br/>
            To confirm the validity of your email address, please click on the link below
        </p>
        <br>
        <p style="text-align: left;">
            <a class="link" href="{{url}}">
                Confirm my account
            </a>
        </p>
    </div>
   
</body>

</html>
