.app-reset-password {
  .app-reset-content {
    min-height: 300px;
    padding: 30px;
    .app-reset-extra {
      margin-top: 30px;
      overflow-y: auto;
      a {
        font-size: .8rem;
        text-decoration: none;
      }
    }
  }
}
