.app-confirm-account {
  .app-confirm-account-content {
    min-height: 200px;
    padding: 30px;
  }
  .app-confirm-account-extra {
    a {
      font-size: .8rem;
      text-decoration: none;
    }
  }
}
