<!DOCTYPE html>
<html>

<head>
    <title>Email de confirmation du compte</title>
</head>

<body>
    <div>
        <h1>Confirmez votre compte</h1>
        <h4>Bienvenue sur Boily <b>{{name}}</b> !</h4>
        <p>
            Votre compte a été créé sur notre plateforme. Voici vos informations de connexion
            <br/><br/>
            Addresse email : <b>{{email}}</b><br/>
            <br/>
            Pour confirmer la validité de votre adresse e-mail, veuillez cliquer sur le lien ci-dessous.
        </p>
        <br>
        <p style="text-align: left;">
            <a class="link" href="{{url}}">
                Confirmer mon compte
            </a>
        </p>
    </div>
   
</body>

</html>
