.form-login {
  .form-group {
    .empty {
      height: 19px;
    }
  }
  .email-form-group {
    margin-bottom: 30px;
  }
  .password-form-group {
    margin-bottom: 0;
  }
  .forgot-password-text {
    font-size: .8rem;
  }
  .btn-login {
    margin-top: 35px;
  }
}
